body {
  font-family: Arial, sans-serif;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M20-5V5m0 30v10m20-30v10M0 15v10'  stroke-linecap='square' stroke-width='1' stroke='hsla(259, 0%, 91%, 1)' fill='none'/><path d='M-5 40H5M-5 0H5m30 0h10M35 40h10M15 20h10'  stroke-linecap='square' stroke-width='1' stroke='hsla(340, 0%, 94%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-repeat: repeat;
  background-size: cover;
}

:root {
  --button: #4F46E5;
  --hover: #5f57f3;
  --background: rgba(232, 232, 232, 0.536);
}

button {
  padding: 10px;
  margin: 5px;
  background-color: #4F46E5;
  color: aliceblue;
}

button:hover{
  background-color: #5f57f3;
}

