#content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    background-color: var(--main-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 4px 8px var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 10px;
}

input[type="text"],
textarea,
input[type="datetime-local"],
input[type="file"] {
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    background-color: var(--button-color);
    color: var(--selection);
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover);
}

#loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#loading img {
    width: 50px;
    height: auto;
}
